{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
    
{% block content %}
    <div class="contentContainer1">
        <div class="recentlyAdded">
            <div class="header">
                <div class="headerBox">
                    <h1>Recently Added Vinyls</h1>
                </div>
            </div>
            <div class="vinylContainer">
                <button onclick="scrollGallery(this, -1)" class="galleryButton"><</button>
                <div class="gallery" id="gallery">
                    {% for vinyl in latest%}
                        <div class = "vinyl">
                            <a href="{{ url_for('Vinyl', id = vinyl.vinyl_id) }}">
                            {% if vinyl.vinyl_image %}
                                <img class="vinylImage" src = "{{ url_for('static', filename = 'uploads/' + vinyl.vinyl_image) }}">
                            {% endif %}
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="vinylArtist">
                                            {{ vinyl.vinyl_artist }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vinylName">
                                            {{ vinyl.vinyl_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vinylImpact">
                                            {{ vinyl.vinyl_impact + "kg Co2" }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vinylPrice">
                                            {% if vinyl.vinyl_price %}
                                                {{ "£" ~ "%.2f"|format(vinyl.vinyl_price) }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </a>
                            <div class="addToBasket">
                                <a class="addToBasketButton" href="{{ url_for('add_to_basket', id = vinyl.vinyl_id) }} " method="POST">Add to basket</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button onclick="scrollGallery(this, 1)" class="galleryButton">></button>
            </div>
        </div>
    </div>


    <div class="contentContainer2">
        <div class="searchArea">
            <div class="searchHeaderBox">
                <div class="searchHeader">
                    <h1>Search for Music</h1>
                </div>
            </div>
            <div class="searchBox">
                <div class="searchHeaderContainer">
                    <div class="searchWrapper" id="searchWrapper2">
                        <form class="search" autocomplete="off">
                            <input placeholder="Search for Music..." id="searchBoxOrdered" type="text" name="search" placeholder="Search vinyls..." value="{{ search_query or '' }}" autocomplete="off">
                            <button type="submit" class="submitButton">
                                <img src="{{ url_for('static', filename='search.png') }}" class="searchIcon">
                            </button>
                        </form>
                        <form class="searchSort">
                            <select name="sort" id="sort" class="sortSelect">
                                <option value="price">Price</option>
                                <option value="date">Release Date</option>
                                <option value="name">Artist Name</option>
                                <option value="impact">Env. Inpact</option>
                            </select>
                            <button type="button" value="order" class="sortOrderButton" id="sortOrderButton" onclick="rotateButton(this.id)"><img src="{{ url_for('static', filename='Arrow.png') }}"></button>
                        </form>
                    </div>
                </div>
                <div id="orderedResults" class="orderedResults"></div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", updateResults);
        const searchBox = document.getElementById("searchBoxOrdered");
        const resultsDiv = document.getElementById("orderedResults");
        const button = document.getElementById("sortOrderButton");
        const selection = document.getElementById("sort");

        
        searchBox.addEventListener("input", updateResults);
        button.addEventListener("click", updateResults)
        selection.addEventListener("change", updateResults);

        function updateResults(){
            const query = searchBox.value;
            const order = sortOrder();

            resultsDiv.classList.add("active");

            fetch(`/orderedSort?q=${query}&order=${order}&selection=${selection.value}`).then(res => res.json()).then(data => {
                resultsDiv.innerHTML = "";
                data.forEach(item => {resultsDiv.innerHTML += `<div class="navbarSearchResultDiv" id="orderedResult"><a href="/release/${item.id}"><img class="resultImage" id="orderedResultImage" src="/static/uploads/${item.img}"><div class="resultText" id="orderedResultText"><strong>${item.name}</strong><br>${item.artist}<br><h3>${item.impact} kg Co2</h3><br>£${item.price.toFixed(2)}<br></div></a></div>`;
                });
            });
        }

        function sortOrder(){
            const img = document.querySelector(`#${button.id} img`)
            if (img.style.transform.includes("180deg")) {
                return "desc"
            } else {
                return "asc"
            }
        }

        function rotateButton(buttonId){
            const img = document.querySelector(`#${buttonId} img`)
            if (img.style.transform.includes("180deg")) {
                img.style.transform = "rotate(0deg)";
            } else {
                img.style.transform = "rotate(180deg)";
            }
        }
    </script>
{% endblock %}
